.calculadoraedad{
    text-align: center;
}
.fechaPicker {
  display: inline-block;
  width: 400px;
  height: 80px;
  background: #a4b8e4;
  border-radius: 22px;
}

.caja1 {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #a4b8e4;
  margin-right: 20px;
}

.caja2 {
  display: inline-flex;
  width: 90px;
  height: 90px;
  background: #a4b8e4;
  justify-content: center;
  margin-right: 20px;
}
.caja3 {
  display: inline-flex;
  width: 90px;
  height: 90px;
  background: #a4b8e4;
  justify-content: center;
}
